@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

html:root {
  --accent: #98637d;
  --background: #14151b;
  --color: #b8b8b8;
  --color-neon-dark: #0d0d10;
  --color-neon-glow: oklch(from var(--color-neon-dark) 20% .08 h);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', 'Fira Code', serif;
  font-weight: 300;
  min-height: 100vh;
  font-size: 1.2rem;
  line-height: 1.57;
  background: linear-gradient(180deg, var(--background), color-mix(in oklch, var(--background), var(--color-neon-dark)), var(--color-neon-dark));
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media (max-width: $phone) {
    font-size: 1.1rem;
  }
}

nav > ul > li:first-child { 
  margin-left: auto;
}

.headings--one-size {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 200;
    line-height: 1.3;

    font-family: "Special Elite", cursive;

    &:not(first-child) {
      margin-top: 40px;
    }
  }

  h1,
  h2,
  h3 {
    font-size: 1.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
}

a {
  color: inherit;

  /* Waiting for a better times... */
  /* &:has(code) {
    text-decoration-color: var(--accent);
  } */
}

p a {
  color: var(--accent) !important;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

p {
  margin-bottom: 20px;
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 5px;
    background: var(--accent);
    color: var(--accent-contrast-color);
    /* opacity: .8; */

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code, kbd {
  font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace !important;
  font-feature-settings: normal;
  background: color-mix(in srgb, var(--accent), transparent 80%);
  color: var(--accent);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;

  code, kbd {
    background: transparent;
    padding: 0;
    margin: 0;
  }
}

pre {
  background: transparent !important;
  padding: 20px 10px;
  margin: 40px 0;
  font-size: .95rem !important;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  + pre {
    border-top: 0;
    margin-top: -40px;
  }

  @media (max-width: $phone) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone) {
    padding-right: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:first-of-type:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }

  &.twitter-tweet {
    position: relative;
    background: color-mix(in srgb, var(--accent), transparent 90%);
    font: inherit;
    color: inherit;
    border: 1px solid var(--accent);
    padding-top: 60px;

    p:before {
      content: '';
    }

    &:before {
      content: '> From Twitter:';
      position: absolute;
      top: 20px;
      color: var(--accent);
      font-weight: bold;
    }

    a {
      color: var(--accent);
    }
  }
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table,
th,
td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul,
ol {
  margin-left: 22px;
  padding: 0;

  li {
    position: relative;
  }

  @media (max-width: $phone) {
    margin-left: 20px;
  }
}

ol {
  list-style: none;
  counter-reset: li;

  > li {
    counter-increment: li;

    &:before {
      content: counter(li);
      position: absolute;
      right: calc(100% + 10px);
      color: var(--accent);
      display: inline-block;
      text-align: right;
    }

    > ol {
      margin-left: 38px;

      > li {
        counter-increment: li;

        &:before {
          content: counters(li, ".") " ";
        }
      }
    }
  }
}

mark {
  background: var(--accent);
  color: var(--accent-contrast-color);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  &.full,
  &.center {
    border: none;
    margin: 0 auto;
  }

  &.full {
    max-width: 100%;
  }

  @media (max-width: $phone) {
    padding: 20px;
  }

  @media print {
    display: initial;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media print {
    display: initial;
  }
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}

.hidden {
  display: none;
}

sup {
 line-height: 0;
}

figure figcaption { 
  background: transparent;
} 

.footer { 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.footer-icons { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  gap: 2rem;
  font-weight: 600;
} 

.footer-icons a { 
  transition: transform 0.25s ease, border-color 0.25s ease;
} 

.footer-icons a:hover {
  transform: translateY(-4px);
  color: var(--accent);
}

.footer .copyright { 
  justify-content: center !important;
  align-items: center !important;
} 

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: color-mix(in srgb, var(--accent), var(--accent-contrast-color) 90%);
  padding: 3px 10px;
}

.header__logo::after {
  content: '';
  background: repeating-radial-gradient(
    circle at left center,
    var(--accent) 0,
    var(--accent) 1px,
    transparent 4px,
    transparent 7px
  );
  background-size: 19px 100%;
  background-repeat: repeat-x;
  display: block;
  width: 75%;
  height: 35px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-card {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--border-color);
  padding: 3px 15px 8px 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease, border-color 0.25s ease;


  &:hover {
    transform: translateY(-4px);
    border-color: var(--accent);
  }

  &::after {
    transition: opacity 0.25s ease;
  }

  &:hover::after {
    opacity: 0.8;
  }
}

.post-card--essays::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  aspect-ratio: 3862 / 2266;
  background: url('/img/vines/vine_bottom_left.svg') no-repeat bottom right;
  background-size: contain;
  pointer-events: none;
  opacity: 0.35;
  z-index: 0;
  transform: scaleX(-1);

  @media (max-width: $phone) {
    width: 220px;
  }

}

.post-card--poetry::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 315px;
  aspect-ratio: 3862 / 2266;
  background: url('/img/vines/vine_bottom_right.svg') no-repeat bottom right;
  background-size: contain;
  pointer-events: none;
  opacity: 0.35;
  z-index: 0;

  @media (max-width: $phone) {
    width: 250px;
  }

}

.post-card--blogs::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  aspect-ratio: 3862 / 2266;
  background: url('/img/vines/top_vine.svg') no-repeat bottom right;
  background-size: contain;
  pointer-events: none;
  opacity: 0.35;
  z-index: 0;
  transform: scaleX(-1);

  @media (max-width: $phone) {
    width: 250px;
  }
}

.post-title {
  --border: 3px dotted var(--accent);
  position: relative;
  color: var(--accent);
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: var(--border);
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: var(--border);
  }
  a { text-decoration: none; }
}

.post-meta {
  font-size: 1rem;
  margin-bottom: 10px;
  color: color-mix(in srgb, var(--accent), transparent 30%);
  > *:not(:first-child)::before {
    content: "::";
    display: inline-block;
    margin: 0 8px;
  }
}

.post-tags {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1rem;
  opacity: .5;
  a { text-decoration: none; }
}

.post-content {
  margin-top: 8px !important;
  a { color: var(--article-link-color); }
}

.read-more {
  margin-top: 15px;
  display: inline-block;
}

.cards-list .post-card:first-child {
  @media (max-width: $phone) {
    margin-top: 2rem;
  }
}

.post-card {
  position: relative;

  &-link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .post-tags {
    position: relative;
    z-index: 2;
  }
}

// .top-left-vine {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -10;
//   pointer-events: none;
//   width: 600px;
//   height: auto;
// 
//   opacity: 0.6;
// 
//   @media (max-width: 1500px) { 
//     display: none;
//   }
// }
// 
// .top-right-vine {
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: -10;
//   pointer-events: none;
//   width: 600px;
//   height: auto;
//   transform: scaleX(-1);
// 
//   opacity: 0.6;
// 
//   @media (max-width: 1500px) { 
//     display: none;
//   }
// }
